body{
	background: linear-gradient(0deg, #0ff 0, #f0f 100%);
	background-attachment: fixed;
	z-index: -2;
}
body::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background:	repeating-linear-gradient(135deg, #ccc 0, #bbb 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 40px), repeating-linear-gradient(45deg, #bbb 0, #ccc 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 40px);
	height: 100vh;
	width: 100vw;
	z-index: -1;
	animation: moveBG 15s infinite ease-in-out alternate;
}
@keyframes moveBG{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 1000vh;
	}
}
@-webkit-keyframes moveBG{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 1000vh;
	}
}
@-o-keyframes moveBG{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 1000vh;
	}
}
@-moz-keyframes moveBG{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 1000vh;
	}
}
body.Tsari{
	background: url('../img/Цари.jpg') no-repeat;
	background-attachment: fixed;
}
form{
	background-color: #000;
	display: block;
	color: #fff;
	font-family: Arial;
	width: 300px;
	position: absolute;
	top: 50%;
	right: 100px;
	transform: translate(0, -50%);
	text-shadow: 0 0 5px #fff;
	border: 2px dashed #fff;
	border-radius: 2px;
}
form>div, form>label{
	margin: 10px;
	display: flex;
	justify-content: space-between;
}
h2{
	text-align: center;
	font-family: Arial;
	color: #fff;
	text-shadow: 0 0 5px #000;
}
form p{
	text-align: center;
}
form input[type='button']{
	border-radius: 5px;
	box-shadow: 0 0 5px #fff;
}
.modal{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
}
.inModal{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	width: 500px;
	height: 200px;
}
.modalButton{
	display: block;
	margin: auto;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}