/* красный цветдля первого */
div{
	background-color: #f00;
	height: 100px;
	width: 100px;
	position: absolute;
	left: 10px;
	top:  10px;
}
h2{
	margin-top: 500px;
}
/* оранжевый цвет для второго */
div:nth-of-type(2n){
	left: 20px;
	top: 20px;
	background-color: #F80;
}
/* жёлтый цвет для третьего */
div:nth-of-type(3n){
	left: 30px;
	top: 30px;
	background-color: #FF0;
}
/* зелёный цвет для четвёртого */
div:nth-of-type(4n){
	left: 40px;
	top: 40px;
	background-color: #0f0;
}
/* голубой цвет для пятого */
div:nth-of-type(5n){
	left: 50px;
	top: 50px;
	background-color: #0fe;
}
/* z индексы */
.z1{
	z-index: 1;
}
.z2{
	z-index: 2;
}
.z3{
	z-index: 3;
}
.z4{
	z-index: 4;
}
.z5{
	z-index: 5;
}