body{
	background-image: url(../img/bg/16.jpg);
	background-size: cover;
	background-attachment: fixed;}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container:hover::before, .container:hover::after{
	content: '';
	position: absolute;
	left: -20px;
	right: -20px;
	top: -20px;
	bottom: -20px;
	border-radius: 50%;
	border: 2px solid #00949B;
	animation: waves 1.8s infinite linear;
	opacity: 0;
	z-index: -1;
}
.container:hover::after{
	animation-delay: 0.5s;
}
.counter{
	position: fixed;
	padding: 10px;
	top: -70px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #000;
	color: #fff;
}
.post{
	position: absolute;
	background-color: #f00;
	color: #fff;
	padding: 5px;
	top: 75%;
	left: 50%;
	transform: translate(-50%, 0);
}
.button{
	border: 10px solid #017781;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	background: url(../img/Usual.png) no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-shadow: 
	font-size: 5em;
	font-family: Arial;
}
@keyframes waves{
	0%{
		opacity: 0;
		transform: scale(0.8);
	}
	50%{
		opacity: 1;
		transform: scale(1.1);
	}
	100%{
		opacity: 0;
		transform: scale(1.4);
	}
}
.Lolicia{
	background: url(../img/Lolicy.png) no-repeat;
	background-size: cover;
	background-position-y: 10%;
}
.Lolicia::after{
	content: 'Попался!';
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 10;
	color: #f00;
	font-size: 8em;
	font-family: Arial;
	width: 100vw;
	height: 100vh;
	text-align: center;

}
.Lolicia::before{
	content: 'Штраф 15 секунд';
	position: fixed;
	top: 70%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 10;
	color: #f00;
	font-size: 5em;
	font-family: Arial;
}
.donate{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	font-family: Arial;
	padding: 5px;
}
.donate a{
	text-decoration: none;
}
.donate a:visited{
	color: #00e;
}