div{
	border-radius: 50%;
	width: 300px;
	height: 300px;
}
.out_block{
	border: 100px solid #c80000;
	padding-top: 100px;
	padding-left: 100px;
}
.in_block{
	background: #000f5e;
	height: 200px;
	width: 200px;
}