body{
	margin: 0;
	color: #526581;
}
p{
	font-size: 10pt;
}
a{
	text-decoration: none;
}
h2{
	color: #000;
}
header{
	position: sticky;
	top: 0;
	background-color: #294E7A;
	color: #fff;
	padding-bottom: 1em;
	min-width: 750px;
	border-bottom: 1px solid #294e7a;
}
header h1{
	margin-bottom: 0.5em;
}
header input, header button{
	color: #fff;
	padding: 2px;
	background-color: #1D3252;
	border: 1px solid #5F80AE;
}
.width_90{
	padding: 1px;
	width: 90%;
	margin: auto;
	line-height: 1em;
}
.search{
	position: absolute;
	top: 10px;
	right: 0;
	margin-right: 5%;
}
header .search input{
	margin-right: 10px;
}
nav{
	width: 90%;
	margin: auto;
}
.float_r{
	position: relative;
}
nav{
	position: absolute;
	bottom: 0;
	right: 5%;
}
nav ul{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
}
nav li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	background-color: #3E73B0;
	padding: 10px;
	font-family: Arial;
	font-weight: bold;
}
nav li a{
	text-decoration: none;
	color: #fff;
}
nav li:hover{
	background-color: #fff;
	color: #444;
}
nav li:hover a{
	color: #333;
}
.before_content{
	padding-top: 20px;
	width: 100%;
	height: 335px;
	margin: auto;
	margin-bottom: 35px;
	background-color: #eee;
	padding-bottom: 50px;
}
.welcome{
	float: left;
	padding: 50px;
	background-color: #fff;
	width: calc(100% - 400px);
	height: 260px;
	box-shadow: inset 0 0 5px #f5f5f5;
	border: 2px solid #F5F5F5;
	text-align: center;
	font-family: Georgia;
	font-size: 150%;
	line-height: 1.5em;
}
.welcome h2{
	font-weight: normal;
}
.near_welcome{
	float: right;
	width: 290px;
	height: 335px;
}
.near_welcome div{
	background-color: #fff;
	margin-bottom: 19px;
	height: 105px;
}
.clearfix::after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
div.content{
	font-family: Arial;
	margin-bottom: 20px;
}
.content_in{
	margin: auto;
	width: 90%;
}
.left_block{
	width: 69%;
	display: inline-block;
}
.content h3{
	border-bottom: 1px dashed #526581;
	padding-bottom: 5px;
	font-family: Liberation Serif;
	font-weight: normal;
}
.right_block{
	display: inline-block;
	width: 30%;
	float: right;
}
.half{
	display: inline-block;
	float: left;
	width: calc(100% / 2 - 10px);
}
img{
	border: 1px groove #eee;
	padding: 5px;
}
.half img{
	width: 97%;
}
.marg_l_10{
	margin-left: 10px;
}

.content .half a, .content .right_block a{
	font-weight: bold;
	color: #264C87;
	float: right;
	text-decoration: none;
}
.content .half a::after, .content .right_block a::after{
	content: ' \00bb';
}
.right_block img{
	width: 290px;
	display: block;
	margin: auto;
}
.gray{
	padding: 4%;
	width: 99%;
	background-color: #eee;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.gray img{
	width: 240px;
}
footer{
	background-color: #294E7A;
	color: #fff;
	padding-bottom: 1em;
	min-width: 750px;
	float: left;
	width: 100%;
	font-family: Arial;
}
footer .three{
	width: calc(100% / 3 - 10px);
	float: left;
}
footer h3{
	border-bottom: 1px dashed #fff;
	padding-bottom: 5px;
	color: #ccc;
	font-family: Times New Roman;
	font-weight: normal;
}
.three:nth-child(1){
	margin-right: 15px;
}
.three:nth-child(2){
	margin-right: 15px;
}
footer .half input{
	width: 100%;
	margin-bottom: 1em;
}
footer .half:nth-child(2n){
	float: right;
}
footer .msg{
	height: 5em;
	width: 100%;
	margin-bottom: 10px;
}
footer a{
	color: #77A6D5;
	text-decoration: none;
}
footer button{
	color: #777;
	background-color: #eee;
	border: transparent;
	padding: 5px;
}
input:invalid{
	background-color: #f22
}
footer .all{
	width: 100%;
	float: left;
	border-bottom: 1px dashed #5F789A;
	margin-bottom: 1em;
}
.left{
	float: left;
}
.right{
	float: right;
}